@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Poppins&family=Rubik+Maze&display=swap');
.bg{
    height: 100%;
    width: 100%;}
.logo{
    height: 125px;
    width: 130px;
    position: absolute;
    left: 50px;
    top: 40px;}
#brand{
    position:absolute;
    left: 50px;
    top: 140px;
    font-size:24.5px;
    background-color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;}
.c1{
    position:absolute;
    height: 220px;
    width: 250px;
    left: 838px;
    top: 930px;
    border: 1px solid snow;
}
.c2{
    position:absolute;
    height: 220px;
    width: 250px;
    left: 1090px;
    top: 930px;
    border: 1px solid snow;
}
.con1{
    background-color: rgb(215, 207, 207);
    height: 480px;
    width: 600px;
    margin-top: 180px;
}
#heading{
    position: absolute;
    left: 80px;
    top: 325px;
    font-size:20px;
    font-family: 'Poppins';
    color:orange;
}
#heading1{
    position: absolute;
    left: 75px;
    top: 300px;
    font-size:65px;
    font-family: 'Poppins', sans-serif;
    color:white;}
#heading2{
    position: absolute;
    left: 75px;
    top: 375px;
    font-size:65px;
    font-family: 'Poppins', sans-serif;
    color:white;}
#heading3{
    position: absolute;
    left: 75px;
    top: 450px;
    font-size:65px;
    font-family: 'Poppins', sans-serif;
    color:white;}
#home{
    left: 675px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:orange;
    position: fixed;}

#about{
    padding:0 10px;
    left: 770px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:white;;
    position: fixed;}
#about:hover{
    color:orange}
#menu{    padding:0 10px;
    left: 880px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:white;
    position: fixed;}
#menu:hover{
    color:orange}
#events{    padding:0 20px;
    left: 980px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:white;
    position: fixed;}
#events:hover{
    color:orange}
#contact{    padding:0 20px;
    left: 1090px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:white;
    position: fixed;}
#contact:hover{
    color:orange}
#buy{    padding:0 20px;
    left: 1215px;
    top: 45px;
    font-size:20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:white;
    position: fixed;}
#buy:hover{
    color:orange}

.vid{ position: absolute;
    margin-top: 240px;
    margin-left: 100px;}

#form{
    background-color:black;
    padding-left: 100px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:600;
    color: white;}

 .co{
    position: absolute;
    color: white;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 18px;
    margin-left: 730px;}  

#count{width: 40px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}

#s1{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}
#s2{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}
#s3{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}
#s4{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}
#s5{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}
#s6{width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;}


    
#m{    background-color:black;
padding-top: 10px;
padding-bottom: 10px ;
}

#m1{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}
#c1{margin-left: 360px;
    font-size: larger;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;}

#m2{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}
#c2{margin-left: 360px;
    font-size: larger;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;}

#m3{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}   
#c3{margin-left: 360px;
    font-size: larger;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;}

#m4{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}   
#c4{margin-left: 360px;
    font-size: larger;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;}

#m5{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}   
#c5{margin-left: 360px;
        font-size: larger;
        font-family:'Poppins',Arial, Helvetica, sans-serif;
        color:white;}

#m6{margin-top: 40px;
    height: 150px;
    width: 250px;
    margin-left: 310px;}   
#c6{margin-left: 335px;
    font-size: larger;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;}
button{
    height: 30px;
    width: 80px;
    font-size:15px;
    margin-left: 690px;
    margin-bottom: 30px;}



        

.row{
    position:absolute;
    margin-top: 200px;
    margin-left: 100px;
    font-size:22px;
    font-weight: 500;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:white;
    display:flex;
    background-color:#382E27 }

.col-1{
    height: 200px;
    width: 300px;
    /* border: white 3px solid; */
    text-align:left;
    padding:15px;}
.a{ padding:20px 0px;
    font-size:17px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(187, 181, 181);}

.col-2{
    height: 200px;
    width: 300px;
    /* border: white 3px solid; */
    text-align:left;
    padding:15px;}
.b{ padding:20px 0px;
    font-size:17px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:orange;}

a{color:orange;}

.col-3{
    height: 200px;
    width: 300px;
    /* border: white 3px solid; */
    text-align:left;
    padding:15px;}
.c{ padding:20px 0px;
    font-size:15px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:rgb(187, 181, 181);}

.col-4{
    height: 200px;
    width: 300px;
    /* border: white 3px solid; */
    text-align:left;
    padding:15px;}
.d{ padding:20px 0px;
    font-size:17px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(187, 181, 181);}
h4{ 
    margin-top: -25px;}


.footbox1{
    margin-top: 20px;
    margin-left: -8px;
    height:500px;
    width: 102%;
    margin-bottom:-20px;
   background-color:#382E27;}
  
.footbox2{
    margin-left: -8px;
    height:50px;
    width:74%;
    margin-bottom: -8px;
   background-color:#382E27;
   color: white;
   padding-top: 15px;
   padding-left: 390px;
    font-family: 'Poppins';
}