#f{
    background-color: pink;
    padding-left: 100px;
    font-family:'Times New Roman', Times, serif;
    font-weight:600;}
#name{height: 18px;width: 300px;}
#email{height: 18px;width: 400px;}
#phone{height: 18px;width: 300px;}
#DOB{height: 18px;width: 200px;}

#f1{background-color: pink;
    padding-left: 200px;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;}
#form{
    padding-top: 50px;
    text-align: center;}

button{
    height: 30px;
    width: 80px;
    font-size:15px;
    margin-left: 300px;
    margin-bottom: 50px;
}